{% extends 'base.html.twig' %}

{% block body %}
    <h1>Features list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Icon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feature in features %}
            <tr>
                <td><a href="{{ path('admin_feature_show', { 'id': feature.id }) }}">{{ feature.id }}</a></td>
                <td>{{ feature.titre }}</td>
                <td>{{ feature.description }}</td>
                <td>{{ feature.icon }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_feature_show', { 'id': feature.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_feature_edit', { 'id': feature.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_feature_new') }}">Create a new feature</a>
        </li>
    </ul>
{% endblock %}
