{% extends 'base.html.twig' %}

{% block body %}
    <h1>Textes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for texte in textes %}
            <tr>
                <td><a href="{{ path('admin_texte_show', { 'id': texte.id }) }}">{{ texte.id }}</a></td>
                <td>{{ texte.intitule }}</td>
                <td>{{ texte.contenu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_texte_show', { 'id': texte.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_texte_edit', { 'id': texte.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_texte_new') }}">Create a new texte</a>
        </li>
    </ul>
{% endblock %}
